//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$negro : #000;
$blanco : #FFF;
$azul: #31E1F7;
$rosado:#B3005E;
$salmon: #FF7777;

//Tamaño media querys
$telefono : 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;